.block-wrapper {
	position: relative;
	margin-top: 30px;
}

.wc-block-product-meta__icon-wrapper {
	position: absolute;
	width: 300px;
	height: 100px;
	top: -8px;
	left: 40px;
	z-index: 2;

	.wc-block-product-meta__icon {
		margin: -5px 0;

		.icon-text {
			display: flex;
			align-items: center;
			position: relative;
			z-index: 1;
			width: 65%;
			max-height: 40px;
			height: 40px;
			right: 0;
			margin-top: 0;
			margin-right: 30px;
			margin-left: 70px;
			font-family: "Noto Serif"; /* stylelint-disable-line */
			font-weight: 600;
			font-size: 1.05rem;
			line-height: 1em;
			color: #e5e5e5;
			text-align: left;
			text-transform: uppercase;

			div {
				overflow: visible;
			}
		}

		.icon-img {
			position: absolute;
			top: -43px;
			left: -24px;
			z-index: 0;

			img {
				width: 100%;
			}
		}
	}
}

.wc-block-product-meta {
	position: relative;
	background-color: $black;
	background-size: cover;
	background-position: center center;
	width: 100%;
	margin: 0;
	padding-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
	z-index: 0;


	.wc-block-product-meta__wrapper {
		overflow: hidden;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		align-content: flex-end;
		position: relative;

		.wc-block-product-meta__title {
			font-family: "Noto Serif"; /* stylelint-disable-line */
			font-weight: 600;
			font-size: 1.95rem;
			text-shadow: 2px 5px rgba(0, 0, 0, 0.2);
		}

		.wc-block-product-meta__title,
		.wc-block-product-meta__variation,
		.wc-block-product-meta__description,
		.wc-block-product-meta__price {
			color: $white;
			line-height: 1.25;
			margin-bottom: 0;
			text-align: center;

			a,
			a:hover,
			a:focus,
			a:active {
				color: $white;
			}
		}

		.wc-block-product-meta__title,
		.wc-block-product-meta__variation,
		.wc-block-product-meta__description,
		.wc-block-product-meta__price,
		.wc-block-product-meta__link {
			width: 100%;
			padding: 16px 48px 0 48px;
			z-index: 1;
		}

		.wc-block-product-meta__link {
			line-height: 1.8em;
			margin-bottom: 50px;
			width: auto;

			a {
				text-decoration: none;
			}
		}

		.wc-block-product-meta__price .amount {
			font-size: 2em;
			font-weight: 700;
			font-family: auto;
			color: inherit;

			del .woocommerce-Price-amount.amount {
				font-weight: 500;
			}
			ins {
				text-decoration: none;

				.woocommerce-Price-amount.amount {
					padding: 6px 9px;
					background-color: #ba0105;
					border-radius: 5px;
				}
			}
		}

		.wc-block-product-meta__title,
		.wc-block-product-meta__variation {
			margin-top: 0;
			border: 0;

			&::before {
				display: none;
			}
		}

		.wc-block-product-meta__variation {
			font-style: italic;
			padding-top: 0;
		}

		.wc-block-product-meta__description {
			p {
				margin: 0;
				line-height: 1.5em;
			}
		}

	}

	.wc-block-product-meta__footer {
		width: 100%;
		display: table;
		overflow: hidden;
		overflow-wrap: break-word;
		height: 28px;
		position: absolute;
		bottom: 0;
		z-index: 3;
		text-align: center;
		color: #fff;
		margin-bottom: 12px;
		font-size: 1rem;
		line-height: 1.1em;
		font-family: "Noto Serif"; /* stylelint-disable-line */
		padding-top: 10px;

		div {
			display: inline-block;
			display: table-cell;
			vertical-align: middle;
		}

	}

	.wc-block-product-meta__footer::before {
		content: "";
		height: 1px;
		background: rgba(255, 255, 255, 0.3);
		width: calc(100% - 100px);
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		position: absolute;
	}

	&.has-button-border .wp-block-button__link {
		border: 4px solid #bfbfbf;
	}

	&.has-incline-footer .wc-block-product-meta__footer {
		transform: rotate(-45deg);
		transform-origin: top right;
		bottom: 150px;
		width: 300px;
		right: 0;
		margin: 0;
		height: 60px;
		max-height: 60px;
		padding: 10px 50px;
		background-color: rgba(249, 108, 9, 0.32);
		border-bottom: 1px solid rgba(109, 75, 58, 0.5);
		border-top: 1px solid rgba(245, 120, 52, 0.5);
	}

	&.has-left-content {
		justify-content: flex-start;

		.wc-block-product-meta__title,
		.wc-block-product-meta__variation,
		.wc-block-product-meta__description,
		.wc-block-product-meta__price {
			margin-left: 0;
			text-align: left;
		}
	}

	&.has-right-content {
		justify-content: flex-end;

		.wc-block-product-meta__title,
		.wc-block-product-meta__variation,
		.wc-block-product-meta__description,
		.wc-block-product-meta__price {
			margin-right: 0;
			text-align: right;
		}
	}

	&.has-background-dim::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: inherit;
		opacity: 0.5;
		z-index: 1;
	}

	&.has-radial-background::before  {
		background-image: radial-gradient(ellipse at 0%, transparent 50%, #000), radial-gradient(ellipse at 100%, transparent 40%, #000);
		background-color: transparent;
	}

	@for $i from 1 through 10 {
		&.has-background-dim.has-background-dim-#{ $i * 10 }::before {
			opacity: $i * 0.1;
		}
	}

	// Apply max-width to floated items that have no intrinsic width
	&.alignleft,
	&.alignright {
		max-width: $content-width / 2;
		width: 100%;
	}

	// Using flexbox without an assigned height property breaks vertical center alignment in IE11.
	// Appending an empty ::after element tricks IE11 into giving the cover image an implicit height, which sidesteps this issue.
	&::after {
		display: block;
		content: "";
		font-size: 0;
		min-height: inherit;

		// IE doesn't support flex so omit that.
		@supports (position: sticky) {
			content: none;
		}
	}

	// Aligned cover blocks should not use our global alignment rules
	&.aligncenter,
	&.alignleft,
	&.alignright {
		display: flex;
	}
}
